h4 {
    margin-bottom: 30px;
}

.col-sm-6 {
    margin-bottom: 20px;
}

.card {
    box-shadow: 2px 2px 10px grey;
    border: none;
}

.fab,
.fas {
    /*font-size: 50px; desktop size*/
    font-size: 50px;
    /*mobile size*/
    margin: 0px 20px;
    color: #fefefe;
    text-shadow: 3px 2px 15px black;
}

.footer {
    background-color: #8d8d8d;
}

.icons-social {
    text-align: center;
    margin: 30px 0px;
    background-color: #8d8d8d;
}