.col-sm-6 {
    margin-bottom: 20px;
}

.icons-social {
    text-align: center;
}

.fab,
.fas {
    /*font-size: 50px; desktop size*/
    font-size: 40px;
    /*mobile size*/
    margin: 0px 20px;
    color: rgb(134, 133, 133);
}

.icons-social {
    margin: 30px 0px;
    background-color: #e1ebf5;
}