.col-sm-6 {
    margin-bottom: 20px;
}

.icons-social {
    text-align: center;
}

.fab {
    /*font-size: 50px; desktop size*/
    font-size: 30px;
    /*mobile size*/
    margin: 0px 20px;
    color: rgb(134, 133, 133);
}

.reachOut {
    text-align: center;
}

.reachOut {
    background-color: #e9ecef;
}

.icons-social {
    margin-top: 30px;
}