body {
    background-image: url("media/blurred-gradient.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 90%;
    height: auto;
}

.flex-title {
    display: flex;
}

h1 {
    font-size: 4em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin-top: 40px;
    color: #900ee2
}

textarea {
    position: flex;
    top: 50px;
    left: 200px;
    border-radius: 3px;
}

button {
    letter-spacing: 2px;
    background-color: #707070;
    outline: none
}

button:focus {
    outline: none;
}